.project-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  color: $clr-black;
  background-color: $clr-blue;
  max-width: 300px;
  max-height: 400px;
  padding: 1rem;
  border: 2px solid $clr-black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  &__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  &__img {
    display: block;
    max-width: 250px;
    padding: 2rem 0;
    background-color: $clr-black;
    border: 2px solid $clr-black;
    border-radius: 5px;
  }

  &__desc {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  &__links {
    margin: .5rem;
    font-size: 3rem;


    & a:link,
    & a:active,
    & a:visited {
      color: $clr-black;
    }

    & a:hover {
      color: $clr-gray;
    }

    & ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      list-style: none;
    }
  }

  &__links-item {
    margin: 0 1rem;
  }

  &__tech ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    grid-gap: 5px;
    padding: .4rem;
    list-style: none;
  }

  &__tech-item {
    font-size: 1.2rem;
    background-color: $clr-black;
    color: white;
    padding: .3rem;
    border-radius: .5rem;
  }
}