* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "navbar" "mainContent";
  width: 100%;
}

nav#navbar {
  grid-area: navbar;
  align-self: center;
  font-size: 20px;
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: grey;
}

a.nav-self {
  padding: 0 10px;
}

a.nav-link {
  padding: 10px;
}

nav#navbar a {
  color: white;
  text-decoration: none;
}

nav#navbar a:hover {
  color: black;
}

.nav-ico i {
  color: white;
}

nav#navbar i:hover {
  color: black;
}

a.nav-self {
  float: left;
}

nav#navbar a.nav-ico i  {
  float: left;
  padding: 4px;
  font-size: 25px;
}

div.navbar-sections {
  padding-right: 20px;
}

#welcome-section {
  min-height: 80vh;
  padding-top: 20vh;
}

#welcome-section p {
  padding: 20px;
}

#welcome-section li {
  list-style-type: none;
}

#projects {
  min-height: 75vh;
  padding-top: 25vh;
}

.project {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  margin: 20px;
  border-radius: 5px;
}

.project-img{
  width: 100%;
  height: 180px;
}

.project-card {
  border: 1px solid grey;
  width: 280px;
  height: 200px;
}

#contact {
  min-height: 75vh;
  padding-top: 25vh;
}

@media screen and (max-width: 500px) {
  nav#navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
  }

  nav#navbar a {
    color: white;
    text-decoration: none;
    padding: 0 5px 5px 5px;
  }

  a.nav-self {
    float: none;
    padding-bottom: 10px;
  }

  nav#navbar a.nav-ico i  {
    float: none;
    padding: 0;
    font-size: 30px;
  }
  
  div.navbar-icons {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  div.navbar-sections {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
  }

  a.nav-link {
    display: block;
  }

  a.twitter-ico.nav-ico {
    padding: 0;
  }

  .main-container {
    grid-area: mainContent;
    min-width: 300px;
  }

  #welcome-section {
    min-height: 0;
    padding-top: 200px;
  }

  #welcome-section p {
    padding: 20px;
  }

  #welcome-section li {
    list-style-type: none;
  }

  #projects {
    min-height: 0;
    padding-top: 40px;
  }

  #contact {
    min-height: 0;
    padding: 40px 0;
  }

  .fa-twitter-square,
  .fa-github-square,
  .fa-envelope-square {
    color: grey;
  }

  footer {
    color: white;
    background-color: grey;
  }
}